<h1>FILMS</h1>

<table id="films" class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @random_data.title %></td>
      <td><%= @random_data.year %></td>
    </tr>
  </tbody>
</table>